
/* Apply colors to HTML elements */
body {
    background-color: linen; 
    font-family: 'sans-serif';
}

/* Setting header color */
header {
    display: block;
    color: rgb(0,0,255); ; 
}

/* Set color of links */
a {
    color: purple; 
}

/* Set color for strong elements */
strong {
    color: hsl(120, 100%, 25%);
}

/* Set color for emphasized elements */
em {
    color: color-mix(add, color(adobe-rgb 1 0.4 0), color(adobe-rgb 1 1 1 / 2)); /* Gives a shade of orange */
}

/* Set color for list items */
li {
    color: color(adobe-rgb 0.6471 0.1647 0.1647); /* Gives brown */
}

/* Set color for paragraphs */
p {
    color: navy; 

/* Set color for details summary */
summary {
    color: teal; 

/* Set color for input labels */
label {
    color: #FF0000; 
}

.audio-container {
    display: inline-block;
    font-size: 1em;
    width: 2rem;
    height: 20vh;
    margin: 20px 10px;
    
}
.video-container {
    position: relative;
    display: inline-block;
    width: 200px;
    padding: 10px 20px;
    margin: auto;
}
.contact-form label {
    color: black;
}
.contact-form {
    display: inline-block;
    width: 300in;
    height: 20cm;
    
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    
    /* Padding */
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;

    /* Borders */
    border-style: solid;
    border-color: black;
    border-width: 10px;
    border-radius: 5px;

    /* Text */
    color: #333; /* Dark gray color */
    text-decoration: none;
    text-align: left;
}
nav{
    max-width: 800px;
    min-width: 200px;
    height: 100px;
    width: 400px;
    position: static;
}
button:hover {
  background-color: lightblue;
}
button:active {
  background-color: lightcoral;
}
@media screen and (max-width: 768px) {
  main {
    flex-direction: row;
  }
}


